<ion-view>
    <ion-content overflow-scroll="true" class="ticket">
        <iframe frameborder="0" id="tkt-iframe" scrolling="no"
                src="https://www.ticketea.com/entradas-festival-vina-rock-2017/custom/"
                style="overflow: hidden; height: 1500px; width:100%">
        </iframe>
        <div class="partner">
            <a href="https://www.ticketea.com/entradas-festival-vina-rock-2017/custom/" alt="Festival Vina Rock" title="ticketea">
                <img src="img/ticket/powered_by.png" alt="ticketea" />
            </a>
        </div>
    </ion-content>
</ion-view>